# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
database
lib/database/database.db
lib/database/channel.db
lib/database/dm.db
lib/database/message.db
lib/database/server.db
